.Content h3 {
    font-weight: normal;
    margin-bottom: 15px;
}
.Content {
    margin: 0;
    height: 107vw;
}

@media (max-width: 480px) {
    .Content {
        height: auto;
        min-height: calc(100vh - 80px);
        padding-bottom: 40px;
    }
}
