.TimerMessage {
    position: absolute;
    right: -45px;
    top: 46px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    text-align: left;
}
.loadingIcon {
    width: 35px;
    margin: 0 8px 0 8px;
}

.TimerMessage p {
    width: 100px;
}
