@font-face {
    font-family: 'Sentinel';
    font-style: bold;
    font-weight: 500;
    src: url('./Fonts/Sentinel-Semibold.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Gotham';
    font-style: bold;
    font-weight: 500;
    src: url('./Fonts/Gotham-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}

body {
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;

    font-size: 16px;
    font-kerning: normal;
    letter-spacing: 0.2px;
    color: rgba(0, 0, 0, 0.95);
    font-family: 'Sentinel', serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div {
    margin: 0;
    padding: 0;
}
